/* CSS Document */

body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color:#4B63DA;
}

a:hover {
  color: #4B63DA;
}

.text-primary {
  color: #4B63DA !important;
}


#mainNav {
  background-color:white;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #4B63DA;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  color:#4B63DA;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #4B63DA;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: black;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #4B63DA;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}


.logo {
		
	  /* position: absolute; */
		margin-top: 13%;
		align-content: center;
		width: 26%;
		margin-left: 37%;
		align-content: center;
}

header.masthead {
  text-align: center;
  color: white;
	background-color:white !important;
  
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-top: 7%;
}

.btn-xl {
  font-size: 1em;
  padding: 1% 3%;
}

.btn-primary {
  background-color: #4B63DA;
  border-color:#4B63DA;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #4B63DA !important;
  border-color: #4B63DA !important;
  color: white;
	
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #4B63DA !important;
}


section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}


#events .events-item {
  right: 0;
  margin: 0 0 15px;
	
}

#events .events-item .events-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#events .events-item .events-link .events-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(254, 209, 54, 0.9);
}

#events .events-item .events-link .events-hover:hover {
  opacity: 1;
}

#events .events-item .events-link .events-hover .events-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#events .events-item .events-link .events-hover .events-hover-content i {
  margin-top: -12px;
}

#events .events-item .events-link .events-hover .events-hover-content h3,
#events .events-item .events-link .events-hover .events-hover-content h4 {
  margin: 0;
}

#events .events-item .events-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#events .events-item .events-caption h4 {
  margin: 0;
  text-transform: none;
}

#events .events-item .events-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#events * {
  z-index: 2;
}

@media (min-width: 767px) {
  #events .events-item {
    margin: 0 0 30px;
  }
}

.events-modal {
  padding-right: 0px !important;
}

.events-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.events-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.events-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.events-modal .modal-content p {
  margin-bottom: 30px;
}

.events-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.events-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.events-modal .modal-content img {
  margin-bottom: 30px;
}

.events-modal .modal-content button {
  cursor: pointer;
}

.events-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.events-modal .close-modal:hover {
  opacity: 0.3;
}

.events-modal .close-modal .lr {
 
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #212529;
}

.events-modal .close-modal .lr .rl {
 
  z-index: 1052;
  width: 1px;
  height: 75px;
 
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #212529;
}


