/* CSS Document */

body {
    overflow-x: hidden;
    font-family: 'Montserrat-regular', sans-serif;
}

a {
    text-decoration: none !important;
    color: #4B63DA;
}

a:hover {
    color: #4B63DA !important;
}

<<<<<<< HEAD
.container-fluid{
	margin-left: 10%!important;
}

.preloader-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; 
  bottom: 0;
  background: rgba(0,0,0,1);
  z-index : 2; 
}

.percentage {
  z-index: 100;
  border: 1px solid #ccc;
  text-align:center;
  color: #fff;
  line-height: 30px;
  font-size : 15px;
}

.loader,
.percentage{
  height: 30px;
  max-width: 500px; 
  border: 2px solid #69AF23;
  border-radius: 20px;
  font-weight: 300;
  position: absolute; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0;
  margin : auto; 
}
.loader:after,
.percentage:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.trackbar {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  overflow: hidden;
  position: relative;
  opacity: 0.99;
}

.loadbar {
  width: 0%;
  height: 100%;
  background: repeating-linear-gradient(
  45deg, 
    #008737, 
    #008737 10px, 
    #69AF23 10px,
    #69AF23 20px
  ); /* Stripes Background Gradient */
  box-shadow: 0px 0px 14px 1px #008737; 
  position: absolute;
  top: 0;
  left: 0;
  animation: flicker 5s infinite;
  overflow: hidden;
}

.glow {
  width: 0%;
  height: 0%;
  border-radius: 20px;
  box-shadow: 0px 0px 60px 10px #008737;
  position: absolute;
  bottom: -5px;
  animation: animation 5s infinite;
}

@keyframes animation {
  10% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.86;
  }
  60% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.75;
  }
}
=======
/*.container-fluid{
    margin-left: 10%!important;
}*/
>>>>>>> d56f8fd6b231e36ea1704d43d8292557ae89163a
header.masthead {
    text-align: center;
    color: white;
    /*background-color: white !important;
    border-style: solid;
    border-color: none;*/
    background: url("pics/close-up-computer-keyboard-18547.jpg");
    height: 100vh !important;
    margin-top: 0 !important;
    /*background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}
.carousel-inner img {
      width: 100%;
      height: 100%;
  }
section {
    padding: 10 px 0;
}

.secbg{
     background: url("pics/apple-devices-computer-contemporary-234527.jpg");
    /*height: 100% !important;*/
    margin-top: 0 !important;
    margin-right: 0%;
}

section h2.section-heading {
    font-size: 40px;
    margin-top: -70px;
    margin-bottom: 0px;
      font-family: 'Montserrat-bold', sans-serif;
      font-size: 2rem;
    line-height: 1.667;
    color: #07617d;
    text-transform: uppercase;
    letter-spacing: .3rem;
    position: relative;
      font-weight: bold;
}

section h3.section-subheading {

    font-weight: 600;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Montserrat-regular', sans-serif;
      font-size: 1.6rem;
    line-height: 1.8;
    color: #4f4f4f;
    /*font-family: 'Signika', sans-serif;*/
}


.tab {
    /*margin-left: 40%;*/
    border:none;
    background-color: transparent;
    padding-bottom: 40px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: transparent;
    float: center;
    border:none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 17px;
    color: wheat;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color:#0750EC;
    
}

/* Create an active/current tablink class */
.tab button.active {
    background-color:#077EC8;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border:none;
    border-top: none;
}

/* Style the close button */
.topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
}

.topright:hover {color: red;}



#team .section-heading{
    color: aliceblue;
}
.text-primary {
    color: #4B63DA !important;
}

.logo {

    /* position: absolute; */
    padding-bottom: 10%;

    width: 26%;
    margin-left: 37%;
    align-content: center;
}

/*Team members*/

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    width: 225px;
    height: 225px;
    image-orientation:10%;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
    color:whitesmoke;
}

.team-member p {
    margin-top: 0;
}

/*nav-bar text style*/
.white-text {
  color: white !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.arrow {
    text-align: center;
    font-size:60px;
    color: #4B63DA;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;

}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}


#mainNav {
    background-color: white;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #4B63DA;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
    color:#141860;
    font-family: 'Montserrat-regular', sans-serif;
    font-weight: bold;
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #4B63DA;
    font-weight: bold;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 550;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: black;
    
    font-family: 'Montserrat-regular', sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #4B63DA;
}



@media (min-width: 768px) {
    section {
        padding: 150px 0;
        padding-bottom: 50px;
    }
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent;
    }
    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: white;
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
    }
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .logo {
        margin-top: 40%;
        align-content: center;
        width: 45%;
        margin-left: 26%;
    }
    section {
        padding: 150px 0;
        padding-bottom: 50px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .logo {
        margin-top: 40%;
        align-content: center;
        width: 45%;
        margin-left: 26%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .logo {
        align-content: center;
        width: 25%;
        margin-left: 260px;
        margin-top: 150px;
    }
    .masthead {
        background: black;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .logo {
        margin-left: 37%;
    }
    .masthead {
        background-size: 150vw !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .content {
        margin-left: 17%;
    }
    .masthead {
        background-size: 130vw !important;
    }
}