html,body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
}

.pos{
	position: absolute;
}

#particles-js
{
	width: 100%;
	height: 100%;
	background: #F8F8F8;
	position: fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


.logo
  {
    left: 0;
	text-align: center;
	  position: absolute;
    top: 10%;
    width: 100%;
    
  }
.centertext
  {
    left: 0;
    top: 10%;
    width: 100%;
    text-align: center;
    color: white;
   position: absolute;
    font-size: 75px;
    font-family: 'Josefin Sans', sans-serif;
  }