html , body {
	margin: 0;
	padding: 0;
	width: 100% 100%;
}

.acme{
	font-family: 'Acme', sans-serif;
	font-size: 30px;
	color: #003CF7 !important;
}

#particles-js
{
	width: 100%;
	height: 100%;
	background: #F8F8F8;
	position: fixed;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#logo {
		text-align: center;
	  /* position: absolute; */
		width: 75%;
		margin: 7% auto auto auto ;
}


/* --------- navigation bar starts ----------- */
#navbar {
    background-color: #ccc;
    position: fixed;
    top: -50px; 							/* Hide the navbar 50 px outside of the top view */
    width: 100%;
    transition: top 0.2s; 		/* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
		font-size: 25px;
}
/* --------- navigation bar ends ----------- */

/* --------- about starts ----------- */
#about {
	width: 80%;
	margin: 0 auto;
}

#about h1 {
	/* color: rgb(0, 70, 255); */
	color: rgb(0, 93, 170);
}

#about p {
	padding-left: 3%;
	font-size: 140%;
	text-align: justify;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.3em;
}
/* --------- about ends ----------- */
